@model IEnumerable<GestionPanneGarageMvcWeb.Models.ReparationModelDate>

@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Layout/_Default1.cshtml";
}
<!Doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Affichage de la liste des vehicules terminent de reparees</title>
</head>
<body>
 <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" style="background-color:rgb(0, 255, 255)">
  <h3 style="background-color: cyan; text-align: center;resize:horizontal;"><i><b><u>Montant Total des Vehicules En Fin de Réparation par date</u></b></i></h3>
 <div class="table-responsive">
<div class="container mt-15">
  <div class="mt-3">
<<<<<<< HEAD
<<<<<<< HEAD
      <h3 style="background-color: cyan; text-align: center;resize:horizontal;"><i><b><u>Montant Total des Vehicules En Fin de Réparation par dat</u></b></i></h3>
=======
      <h3 style="background-color: cyan; text-align: center;resize:horizontal;"><i><b><u>Montant Total des Vehicules En Fin de Réparation par date</u></b></i></h3>
>>>>>>> PannesVehicules
=======
>>>>>>> Reparations
     <table class="table table-bordered" id="users-list">
       <thead class="table-dark">
          <tr>
            <th>No</th>
            <th>DateReparation</th>
              <td>SommeTotal</td>
        </tr>
           </thead>
         <tbody>
             @{
                 int no = 0;
             }
        @foreach (GestionPanneGarageMvcWeb.Models.ReparationModelDate item in Model)
        {
            no++;
            <tr>
                <td>@no</td>
                 <td>@item.DateReparation</td>
                <td>@item.SomeMontantTotal</td>
            </tr>
        }
       
       </tbody>
     </table>   
      </div>
  </div>
</div>
 </div>
</body>
</html>
@section scripts
{
    <script src="~/Scripts/Datatables.js"></script>
}